.navbar {
  background-color: #3c0263;
}

.jumbotron {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #f8b3f8;
}

.image {
  width: 150px;
}

#projects {
  background-color: #f8b3f8;
}

#contact {
  background-color: #f8b3f8;
}

.btn-submit {
  background-color: rgb(60, 2, 99);
  color: #fff;
}

.footer {
  background-color: rgb(60, 2, 99);
}

section {
  padding-top: 4rem;
}
